<nav class="gap-2 flex justify-between py-4 bg-white items-center px-10 drop-shadow-indigo-400 drop-shadow-lg">
    <div routerLink="/">
        <p>MyLogo</p>
    </div>
    <div>
    </div>
    <div class="gap-3 flex w-full justify-end">
        <button class="bg-transparent font-bold text-indigo-600 transition-all duration-300 hover:text-indigo-700" routerLink="/login">Login</button>
        <button class="bg-indigo-600 
        text-white w-[100px] py-1.5 ml-2 rounded-md font-bold 
        transition-all duration-300 
        hover:bg-white hover:text-indigo-600 hover:ring-2 hover:ring-indigo-600 hover:ring-inset">Register</button>
    </div>
</nav>
